body{
	text-align: center;
	 background-image: url('5_asfasw112.jpg');
    
}
#list{
	border: none;
	padding: 20px;
	height: 40px;
	border-radius: 30px;
	font-size: 20px;
	padding-top: 10px
}
#list2{
	position: relative;top: 5px;
	border: none;
	padding: 20px;
	height: 40px;
	border-radius: 30px;
	font-size: 20px;
	padding-top: 10px
}
#list3{
	position: relative;top: 10px;
	border: none;
	padding: 20px;
	height: 40px;
	border-radius: 30px;
	font-size: 20px;
	padding-top: 10px
}
#Exit{
	position: relative;top: 25px;
	border: none;
	padding: 20px;
	height: 40px;
	border-radius: 30px;
	font-size: 20px;
	padding-top: 10px;
	background-color: DarkRed;
}
h1{
	color: white;
}

